/* IDEALS MAIN */

// Import Google Fonts - IMPORTANT: This @import must be the very first line in your CSS file.
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

/*********************************
** GLOBAL ELEMENTS and CLASSES ***
**********************************/
/* Main Colors Used
 *
 * #003C7D - U of I Blue
 * #F47F24 - U of I Orange
 *
 * #F6F6F6 - lightest gray
 * #EFEFEF - lighter gray
 * #CCCCCC - light gray
 * #808080 - gray
 * #4C4C4C - dark gray
 *
 * #2A0000 - nearly black (for default text)
 * #FF0000 - bright red (for error text)
 * #990000 - dark red (for submission progress bar)
 */

$ideals-blue: #587498;
$ideals-dark-blue: #1F3F5E;
$ideals-orange: #F3843E;
$ideals-green: #006621;
$ideals-pink: #ff69b4;

// Normalize and base styles from H5BP
@import "h5bp-normalize";
@import "h5bp-base";

// 3rd-Party
@import "jquery-ui-1.8.15.custom";
@import "jquery.dataTables";

// Author styles
@import "ideals-base";
@import "ideals-fonts";
@import "ideals-main";
@import "ideals-helper";
@import "ideals-media";
@import "ideals-authority-control";
@import "ideals-collection-tree";
@import "ideals-submit-form";
@import "ideals-submit-upload";

// Helpers from H5BP -- needs to be last
@import "h5bp-helper";