/**
 *
 * ideals-fonts.scss
 *
 * Theme Fonts
 */

body {
  font: 13px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  line-height: 153.9%;
  *font-size: small;
  *font: x-small;
}

h1 {
  font-size: 182%;
  margin: 1em 0 0.5em;
}

h2 {
  font-size: 123.1%;
}

h3 {
  font-size: 116%;
}

h4 {
  font-size: 108%;
}

h5, h6 {
  font-size: 100%;
}